.Card {
    margin-bottom: 10vh;
    background-color: #cacaca;
    padding: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    z-index: 4;
}

.dropdown-text{
}

.poster-container {
    flex: 4;
}

.poster-bg {
    width: 60%;
    height: 65%;
    border-radius: 5%;
    -webkit-clip-path: circle(90% at 30px 30px);
    clip-path: circle(90% at 30px 30px);
}

.movie-info {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    padding: 30px 20px 30px 0;
}

.movie-info h1 {
    font-size: 14px;
    margin: 0 0 10px;
    color: #535050;
}

.movie-info h2 {
    text-transform: uppercase;
    font-family: "Alegreya Sans SC", serif;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.movie-info h4 {
    margin: 1px 0 1px;
    font-size: 16px;
}

.movie-info p {
    font-size: 14px;
    margin: 10px 0;
    width: 130%;
}

.movie-info .tags-container {
    position: relative;
    width: 225%;
}

.movie-info .tags-container span {
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    margin: 5px;
}

.Card .button-container {
    white-space: nowrap;
}

.Card  .button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #ffaa03;
    border: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
.card-button:hover {opacity: 1}

@media (max-width: 768px) {
    .poster-container {
        flex: 5;
    }
}

@media (max-width: 700px) {
    .poster-container {
        -webkit-clip-path: circle(80% at 45px 70px);
        clip-path: circle(80% at 45px 70px);
    }
}

@media (max-width: 600px) {
    .movie-card-container {
        flex-direction: column;
    }

    .poster-container {
        clip-path: none;
        flex: 1;
        height: 400px;
    }

    .movie-info {
        align-items: flex-start;
        flex: 1;
        text-align: left;
        padding: 30px 20px;
    }

    .movie-info .tags-container,
    .movie-info p {
    }
}
